* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* Install Font */
@font-face {
  font-family: "poppins", sans-serif;
  src: url(../font/Poppins-Regular.ttf);
}

  body {
    height: 100vh;
    margin: 0;
    background: #FAF9F9;
    font-family: "Jaldi", sans-serif;
    font-size: 14px;
    color: black;
  }
  
  header {
    position: relative;
    top: 0;
    width: 100%;
    padding: 5px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-bar a {
    color: #4C4947;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 10px 20px;
    transition: .3s;
    font-size: 20px;
    font-weight: 500;
  }
  
  .nav-bar a:hover {
    background-color: #FBE73D;
  }
  
  .logo img{
    position: relative;
    width: 14vh;
    left: 50%;
  }
  
  .login-btn, .next-btn, #buttonPrevious, #buttonNext, #submit {
    color: #4C4947;
    background-color: #FBE73D;
    text-decoration: none;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: .3s;
  }
  
  .login-btn:hover, .next-btn:hover, #buttonPrevious:hover, #buttonNext:hover, #submit:hover {
    background-color: #e2d240;
    cursor: pointer;
  }
  
  #wrapper {
    display: flex;
    position: relative;
    padding: 3% 25%;
    align-items: center;
  }
  .prv-nxt {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  #buttonPrevious, #buttonNext {
    margin: 0 8%;
    border: none;
  }
  .next-btn {
    display: flex;
    text-align: center;
    margin: 3% auto;
    border: none;
  }
  form {
    width: 100%;
    background: #FBE73D;
    border-radius: 8px;
  }
  #soal {
    padding: 1%;
    text-align: center;
  }
  #wrapper2 {
    display: flex;
    position: relative;
    padding: 1% 25%;
    align-items: center;
  }
  input {
    margin: 10px 20px;
  }
  form {
    pointer-events: none;
    cursor: default;
  }
  input[type='radio'] { 
    transform: scale(2); 
    pointer-events: visible;
  }
  #submit {
    margin: 1% auto;
    border: none;
    text-align: center;
    padding: 10px 88px;
  }

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
  padding-bottom: 10px;
}

.option {
  padding: 10px 30%;
  text-align:left;
}

/* The Close Button */
.submitExtra {
  color: #aaaaaa;
  font-size: 25px;
  font-weight: bold;
  align-items: center;
}

.submitExtra:hover,
.submitExtra:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}