* {
    margin : 0;
    padding: 0;
}

/* Install Font */
@font-face {
    font-family: "poppins", sans-serif;
    src: url(../font/Poppins-Regular.ttf);
}

body {
    min-height: 100vh;
    background-color: #FBE73D;
    font-family: "poppins", sans-serif;
}

nav {
    position: relative;
    top: 0;
    padding: 5px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAF9F9;
}

/* nav .nav-bar a {
    color: #4C4947;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 2px 15px;
    transition: .3s;
    font-size: 20px;
    font-weight: 500;
}

nav .nav-bar a:hover {
    background-color: #FBE73D;
} */

nav .logo a img{
    position: relative;
    width: 14vh;
    left: 0;
    right: 0;
}

nav .login .login-btn {
    color: #4C4947;
    background-color: #FBE73D;
    text-decoration: none;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: .3s;
}

nav .login .login-btn:hover {
    background-color: #e2d240;
}

.title {
    text-align: center;
    color: #4C4947;
    margin: 10px 0;
}

#listMain {
    margin: 0 auto 30px;
    color: #4C4947;
    background-color: #FAF9F9;
    width: 50%;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
}

#listHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #B9DFE1;
    border-radius: 10px;
    padding: 10px 0;
    font-weight: 500;
}

#rekor-namaOrtu {
    display: flex;
    flex-direction: column;
    width: 48%;
}

#rekor-namaAnak {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.rekor {
    font-size: 16px;
    margin-bottom: 20px;
}

.rekorList {
    list-style: none;
    background-color: #B9DFE1;
    border-radius: 10px;
    padding: 5px;
}

.rekorList li {
    margin: 10px auto;
    border-bottom: 1px solid #4C4947;
    padding-bottom: 7px;
    width: 300px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.button button {
    border: 0;
    width: 25%;
    cursor: pointer;
    padding: 15px 0;
    border-radius: 5px;
    font-family: "Mulish", sans-serif;
    font-weight: bold;
    color: #FAF9F9;
    background-color: #4C4947;
}